@import "tailwindcss";
@plugin 'daisyui' {
}

@plugin "daisyui/theme" {
  name: "fantasy";
  default: true;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(30% 0.056 229.695);
  --color-base-200: oklch(39% 0.07 227.392);
  --color-base-300: oklch(45% 0.085 224.283);
  --color-base-content: oklch(95% 0.045 203.388);
  --color-primary: oklch(77% 0.152 181.912);
  --color-primary-content: oklch(27% 0.046 192.524);
  --color-secondary: oklch(71% 0.202 349.761);
  --color-secondary-content: oklch(28% 0.109 3.907);
  --color-accent: oklch(74% 0.16 232.661);
  --color-accent-content: oklch(29% 0.066 243.157);
  --color-neutral: oklch(60% 0.126 221.723);
  --color-neutral-content: oklch(98% 0.019 200.873);
  --color-info: oklch(78% 0.154 211.53);
  --color-info-content: oklch(30% 0.056 229.695);
  --color-success: oklch(77% 0.152 181.912);
  --color-success-content: oklch(27% 0.046 192.524);
  --color-warning: oklch(85% 0.199 91.936);
  --color-warning-content: oklch(28% 0.066 53.813);
  --color-error: oklch(71% 0.202 349.761);
  --color-error-content: oklch(28% 0.109 3.907);
  --radius-selector: 2rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 1;
}

